---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Base.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import type { InferGetStaticPropsType } from 'astro';

export async function getStaticPaths() {
    const posts = await getCollection('blog');
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
    <article class='mx-auto prose md:prose-xl prose-sm dark:prose-invert'>
        <h1>{post.data.title}</h1>
        <small class='italic'><FormattedDate date={post.data.pubDate} /></small>
        {
            post.data.updatedDate && (
                <small class='italic'>
                    . Updated on <FormattedDate date={post.data.updatedDate} />
                </small>
            )
        }
        <Content />
    </article>
</Layout>
