---
import '~/styles/base.css';
import { ViewTransitions } from 'astro:transitions';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

interface Props {
    title: string;
    description?: string;
    image?: string;
}

const defaultImage = '/portrait.apng';
---

<html lang='en' class='scroll-smooth'>
    <head>
        <!-- Global Metadata -->
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width,initial-scale=1' />

        <link rel='icon' href='/favicon.ico' sizes='any' />
        <link rel='icon' href='/favicon.svg' type='image/svg+xml' />

        <meta name='generator' content={Astro.generator} />

        <!-- Font preloads -->
        <!-- <link
            rel='preload'
            href='/fonts/atkinson-regular.woff'
            as='font'
            type='font/woff'
            crossorigin
        />
        <link
            rel='preload'
            href='/fonts/atkinson-bold.woff'
            as='font'
            type='font/woff'
            crossorigin
        /> -->

        <!-- Canonical URL -->
        <link rel='canonical' href={canonicalURL} />

        <!-- Primary Meta Tags -->
        <title>{Astro.props.title}</title>
        <meta name='title' content={Astro.props.title} />
        <meta name='description' content={Astro.props.description ?? ''} />

        <!-- Sitemap -->
        <link rel='sitemap' href='/sitemap-index.xml' />

        <!-- Open Graph / Facebook -->
        <meta property='og:type' content='website' />
        <meta property='og:url' content={Astro.url} />
        <meta property='og:title' content={Astro.props.title} />
        <meta property='og:description' content={Astro.props.description ?? ''} />
        <meta property='og:image' content={new URL(Astro.props.image ?? defaultImage, Astro.url)} />

        <!-- Twitter -->
        <meta property='twitter:card' content='summary_large_image' />
        <meta property='twitter:url' content={Astro.url} />
        <meta property='twitter:title' content={Astro.props.title} />
        <meta property='twitter:description' content={Astro.props.description ?? ''} />
        <meta
            property='twitter:image'
            content={new URL(Astro.props.image ?? defaultImage, Astro.url)}
        />
        <ViewTransitions />
    </head>
    <body class='bg-white dark:bg-black'>
        <main class='m-4 min-w-[200px]'>
            <slot />
        </main>
    </body>
</html>
